{% extends "base.html"%}

{% block title%}Public Issues | Janasunwai {%endblock%}

{%block content%}
<div class="flex items-center justify-center flex-col p-4 m-4 rounded-lg bg-white opacity-90 w-150" id="login_form">
    <span style="font-family: 'Unica One', sans-serif;" 
        class="p-4 text-5xl font-semibold text-blue-700">
    About {{ site_name }} 
    </span>
    <span style="font-family: 'Nunito Sans', sans-serif;" 
         class="text-2x1 font-semibold text-gray-900 mt-5 text-center">
         JANASUNWAI 360 is a platform that bridges the gap between citizens and government, enabling anonymous feedback, transparent tracking of public issues, and real-time budget monitoring. Our mission is to foster accountability and improve governance through technology.
    </span>
    <span style="font-family: 'Nunito Sans', sans-serif;" 
         class="text-x1 font-semibold text-blue-700 mt-5 text-center">Building Trust Between Citizens & Government Institutions</span>
    
    </div>
</div>


{%endblock%}