


<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <title>{% block title %}Janasunwai 360{% endblock %}</title>
</head>

<body
  class="relative flex min-h-screen flex-col items-center justify-start bg-cover bg-top bg-no-repeat"
  style="background-image: url('{{ url_for('static', filename='images/NepalBg.jpg') }}');"
>

  <div class="flex flex-col sm:flex-row w-full items-center justify-evenly opacity-90 bg-blue-700 p-4 text-white">

    <div>
      <a href="{{ url_for('home') }}" class="block rounded-lg p-4 hover:opacity-80">
        <h1 style="font-family: 'Unica One', sans-serif;" class="text-6xl">Janasunwai</h1>
        <h1 style="font-family: 'Unica One', sans-serif;" class="text-3xl">360</h1>
      </a>
    </div>

    <div class="flex flex-wrap items-center justify-center gap-6 text-xl">
      <a href="{{url_for('public_issues')}}" class="hover:underline">Public Issues</a>
      <a href="{{url_for('budget_tracker')}}" class="hover:underline">Budget Tracker</a>
      <a href="{{url_for('about')}}" class="hover:underline">About</a>
      <a href="{{ url_for ('login')}}" class="hover:underline">Govt. Login</a>
    </div>
      <div class="bg-transparent flex flex-row items-center justify-end rounded-b-lg w-fit relative">
        <input type="text" placeholder="Search..." class="border-white bg-white text-black w-fit rounded-lg m-0 p-2">

    <div class="flex flex-row align-center justify-center">
    <button onclick="switchLanguage('en')" class="text-xl hover:opacity-70 p-1" style="font-family: 'Nunito Sans', sans-serif;">English</button>
    <p class="text-white text-xl flex align-center">|</p>
    <button onclick="switchLanguage('np')" class="text-xl hover:opacity-70 p-1" style="font-family: 'Nunito Sans', sans-serif;">नेपाली</button>
  </div></div>
  </div>

  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
