{% extends "base.html" %}

{% block title %}Home | Janasunwai 360{% endblock %}

{% block content %}

<div class="flex items-center justify-center flex-col p-4 m-4 rounded-lg bg-white opacity-90 w-fit">

  <span style="font-family: 'Unica One', sans-serif;" 
        class="p-4 text-6xl font-bold text-blue-700">
    {{ site_name }}
  </span>

  <span id="SpeakUpText" 
        style="font-family: 'Nunito Sans', sans-serif;" 
        class="p-4 text-xl text-blue-700">
    {{ tagline }}
  </span>
  
  <a id="btnResponse" href="{{url_for('goverment_response')}}" class="border border-blue-700 bg-white rounded-lg p-4 inline-block text-center items-center justify-center m-2 w-max opacity-100 text-2x1 text-blue-700 hover:border-2 hover:font-semibold" style="font-family:'Nunito Sans', sans-serif;">
  See Gov't Responses             →</span>
  </a>

  <a id="btnBudget" href="{{url_for('budget_tracker')}}" class="border border-blue-700 bg-white rounded-lg p-4 inline-block text-center items-center justify-center m-2 w-max opacity-100 text-2x1 text-blue-700 hover:border-2 hover:font-semibold" style="font-family:'Nunito Sans', sans-serif;">
  Follow the Budget               →</span>
  </a>

  <a id="btnRaise" href="{{url_for('submit_issue')}}" class="border border-blue-700 bg-blue-700 rounded-lg p-4 inline-block text-center items-center justify-center m-2 w-max opacity-100 text-2x1 text-white hover:border-2 hover:font-semibold hover:bg-blue-900" style="font-family:'Nunito Sans', sans-serif;">
  RAISE YOUR ISSUE ANONYMOUSLY   →</span>
  </a></div>

  <div class="w-full bg-transparent p-1"></div></div>



</div>

{% endblock %}
