{% extends "base.html" %}

{% block title%}Login | Janasunwai 360 {%endblock%}

{%block content%}


<div class="flex items-center justify-center flex-col p-4 m-4 rounded-lg bg-white opacity-90 w-130" id="login_form">
    <span style="font-family: 'Unica One', sans-serif;" 
        class="p-4 text-5xl font-semibold text-blue-700">
    {{ site_name }} Login
  </span>
    <form action="" class="flex flex-col align-center items-center justify-center">
        <label class="m-4 w-25 h-25 flex flex-col bg-blue-100 bg-center bg-cover bg-fit bg-no-repeat rounded-full p-4 cursor-pointer hover:bg-blue-200 active:bg-blue-700" style="background-image:url('{{ url_for('static',filename="images/add.svg")}}')">
        <input class="text-transparent" type="file" name="photo" accept="image/*"  required></label>
        <p class="text-blue-700 font-semibold inline-block text-center items-center justify-center w-max opacity-100 text-2x1" style="font-family:'Nunito Sans', sans-serif;">Photo proof of Id ↑</p>
        <input class="w-100 p-4 m-2 border border-gray-700 rounded-lg" type="text" placeholder="Admin Code No." name="Admin Code No." required>
        <input class="w-100 p-4 m-2 border border-gray-700 rounded-lg" type="password" placeholder="Password" name="Password" required>
        <button class="border border-blue-700 bg-blue-700 rounded-lg p-4 inline-block text-center items-center justify-center m-2 w-max opacity-100 text-2x1 text-white hover:border-2 hover:font-semibold hover:bg-blue-900" type="Submit" name="login">Login</button>
</div>

{%endblock%}