{% extends "base.html"%}

{% block title%}Public Issues | Janasunwai {%endblock%}

{%block content%}
<div class="flex items-center justify-center flex-col p-4 m-4 rounded-lg bg-white opacity-90 w-130" id="login_form">
    <span style="font-family: 'Unica One', sans-serif;" 
        class="p-4 text-5xl font-semibold text-blue-700">
    {{ site_name }}
    </span>
    <span style="font-family: 'Nunito Sans', sans-serif;" 
         class="text-2x1 font-semibold text-gray-900">
         All Public Issues
    </span>
    <div class="flex flex-row space-x-4">
    <input class="mt-4 w-80 flex-row p-4 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-700 " type="text" name="Public Issues" placeholder="Search the issues...">
    <select id="category" name="category" placeholder="All status" class="mt-4 w-fit flex-row p-4 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-700 ">
        <option value="open">Open</option>
        <option value="in_review">In review</option>
        <option value="resolved">Resolved</option>
        <option value="closed">Closed</option>
    </div>
</div>


{%endblock%}